
// Fonts Settings
$mainFontSize: 16px;
$mainFontFamily: 'Open Sans', sans-serif;

// Screen
$screen-lg: 1200;
$screen-md: 992;
$screen-sm: 768;
$screen-xs: 480;

// Colours
$colorWhite: #FFFFFF;
$colorBlack: #000000;
